<launch>

  <node pkg="mpu6050_serial_to_imu" type="mpu6050_serial_to_imu_node" name="mpu6050_serial_to_imu_node" required="true">
    <param name="port" value="/dev/ttyACM0"/>
  </node>

  <arg name="model" default="$(find mpu6050_serial_to_imu)/urdf/custom_f450.xacro"/>
  <arg name="gui" default="true"/>
  <arg name="rvizconfig" default="$(find mpu6050_serial_to_imu)/launch/urdf.rviz"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" required="true"/>

  <node name="rpy_tf" pkg="mpu6050_serial_to_imu" type="tf_broadcaster_imu.py"/>
  
</launch>
